@charset "UTF-8";
 @font-face{
                font-family:'NanumGothic';
                src: url(/font/NanumGothicBold.ttf) format('truetype');
            }
            *{
                font-family: "Nanumgothic";
            }
            .navbar-collapse{
                width : 100%;
            }
            .box{
                width:100%;
            }
            .box>a{
                width: 100%;
            }
            #logo{
                width: 100%;   
            }
            div{
/*                                border:1px solid black;*/
                box-sizing: border-box;
                text-align: center;
            }
            #baseBackgroundColor{
                position: relative;
                z-index: -10;
                background-color: #efefef;
                border-bottom: 2px solid gray;
            }
            .naviCon{
                width: 73%;
                margin: auto;
            }
            .naviCon a{
                font-size: 13px;
            }
            #logo{
                width:80%;
            }
            #aroundContent{
                height:80px;  
            }
            #realFooter{
                text-align: left;
            }
            #realFooter p,#realFooter a{
                color: darkgray;
                font-size: 11px;
                line-height: 0.31em;
            }
            #loginCon *{
                color: darkgray;
                font-size: 12px;
            }
            
            #footerMsg{
                line-height: 1.9em;
            }