<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdBoard">
	<select id="projectListByPage" resultType="kh.hello.dto.ProjectDTO">
		select * from (select project.*,(select count(*) from projectComment where projectSeq=project.seq) as commentCount, row_number() over (order by seq desc) as num from project) where num between #{start} and #{end}
	</select>
	<select id="getProjectTotal" resultType="integer">
		select count(*) from project
	</select>	
	<delete id="delProjectAllCo">
		delete from projectComment where projectSeq=#{seq}
	</delete>
	<delete id="delProject">
		delete from project where seq=#{seq}
	</delete>
	<select id="detailViewProject" resultType="kh.hello.dto.ProjectDTO">
		select * from project where seq=#{seq}
	</select>
	<select id="getProjectCo" resultType="kh.hello.dto.ProjectCoDTO">
		select * from projectComment where projectSeq=#{projectSeq}
	</select>
	<delete id="delProjectCo">
		delete from projectComment where seq=#{seq}
	</delete>
</mapper>