<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Admin">
  <select id="validLogin" resultType="integer">
  	select count(*) from adminAccount where adminId=#{adminId} and password=#{password}
  </select>
  <update id="modifyInfo" parameterType="java.util.Map">
  	update adminAccount set password=#{password}, email=#{email} where adminId=#{adminId}
  </update>
  <select id="selectInquiryByPage" resultType="kh.hello.dto.InquiryDTO">
  	select * from (select inquiry.*, row_number() over(order by seq desc) rown from inquiry) where rown between #{start} and #{end}
  </select>
  <select id="getInquiryTotal" resultType="integer">
  	select count(*) from inquiry
  </select>
  <select id="inquiryDetailView" resultType="kh.hello.dto.InquiryDTO">
  	select * from inquiry where seq=#{seq}
  </select>
  <insert id="writeInquiry" parameterType="java.util.Map">
  	insert into inquiryReply values (inquiryReplySeq.nextval, #{boardSeq}, #{reply}, sysdate)
  </insert>
  <select id="getLatestReplySeq" resultType="integer">
  	select max(seq) from inquiryReply
  </select>
  <select id="getLatestReply" resultType="kh.hello.dto.InquiryReplyDTO">
  	select * from inquiryReply where seq=#{seq}
  </select>
</mapper>