<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Bamboo">
	<select id="selectAll" resultType="kh.hello.dto.BambooDTO">
		select seq,writer,title,content,writeDate,viewCount,(select count(*) from bambooComments where bamSeq=bamboo.seq) as commentCount from bamboo order by seq desc
	</select>

	<select id="getBambooDetailView" resultType="kh.hello.dto.BambooDTO">
		select * from bamboo where seq=#{value}
	</select>
	
	<select id="latestSeq" resultType="integer">
		select max(seq) from bamboo where writer=#{value}
	</select>
	
	<insert id="insertBamboo" parameterType="kh.hello.dto.BambooDTO">
		insert into bamboo values(bambooSeq.nextval,#{writer},#{title},#{content},sysdate,0)
	</insert>
	
	<update id="updateBamboo" parameterType="kh.hello.dto.BambooDTO">
		update bamboo set title=#{title}, content=#{content} where seq=#{seq}
	</update>
	
	<update id="updateBambooViewCount">
		update bamboo set viewCount=viewCount+1 where seq=#{value}
	</update>
	
	<delete id="deleteBamboo">
		delete from bamboo where seq=#{value}
	</delete>
	
	<!-- 페이지네비 -->
	<select id="recordBambooListTotalCount" resultType="integer">
		select count(seq) from bamboo
	</select>
	<select id="BambooListByPage" resultType="kh.hello.dto.BambooDTO">
		select * from (select bamboo.*, row_number() over (order by seq desc) as rown from bamboo) where rown between #{start} and #{end}
	</select>
</mapper>