<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Chart">
	<select id="getVisitChange" resultType="kh.hello.dto.ChartVisitChangeDTO">
		select * from 
		(select vr.*, row_number() over(order by 1) rown from (select substr(to_char(visit), 1, 9) dateis, count(*) visitCount 
		from visit group by substr(to_char(visit), 1, 9) order by 1 desc) vr) where rown between 1 and 12 order by rown desc
	</select>
	<select id="getGenderRatio" resultType="kh.hello.dto.ChartGenderDTO">
		select gender, count(gender) genderCount from member where gender is not null group by gender order by 1
	</select>
	<select id="getJoinPath" resultType="kh.hello.dto.ChartJoinPathDTO">
		select joinPath, count(joinPath) pathCount from (select case
        when joinPath = '지인 추천' then '지인 추천'
        when joinPath = '''Hello World!'' 검색' then 'Hello World 검색'
        when joinPath = '''프로젝트 모집'' 검색' then '프로젝트 모집 검색'
        else '기타'
    	end joinPath from member) group by joinPath order by 1
	</select>
	<select id="getWorkRatio" resultType="kh.hello.dto.ChartWorkDTO">
		select memLevel, count(memLevel) levelCount from member where memLevel ='2' or memLevel='3' group by memLevel order by memLevel
	</select>
	<select id="getGenerationRatio" resultType="kh.hello.dto.ChartGenerationDTO">
		select (substr((to_char(sysdate, 'YYYY') - to_char(birth, 'YYYY') + 1),1,1))||'0대' generation, 
		count(substr((to_char(sysdate, 'YYYY') - to_char(birth, 'YYYY') + 1),1,1)) gCount 
		from member where birth is not null group by substr((to_char(sysdate, 'YYYY') - to_char(birth, 'YYYY') + 1),1,1) order by 1
	</select>
	<select id="getTop5List" resultType="kh.hello.dto.MemberDTO">
		select * from (select id, nickName, memLevel, point, lastLogin, profileImg, row_number() over(order by point desc, lastLogin desc) rown 
		from member where memLevel >= 2) where rown between 1 and 5
	</select>
	<select id="getBoardLog" resultType="kh.hello.dto.BoardLogDTO">
		select dateis, nvl(newBoard, 0) newBoard, nvl(delBoard, 0) delBoard from (select ab.*, row_number() over(order by 1) rown from (select nb.dateis, newBoard, delBoard from 
		(select substr(to_char(new), 1, 9) dateis, count(*) newBoard from newBoardLog group by substr(to_char(new), 1, 9)) nb join
		(select substr(to_char(del), 1, 9) dateis, count(*) delBoard from delBoardLog group by substr(to_char(del), 1, 9)) db
		on nb.dateis = db.dateis(+)) ab) where rown between 1 and 5 order by 1
	</select>
	<select id="getComLog" resultType="kh.hello.dto.CommentLogDTO">
		select dateis, nvl(newcom,0) newCom, nvl(delcom,0) delCom from (select ab.*, row_number() over(order by 1) rown from (select nb.dateis, newCom, delCom from
		(select substr(to_char(new), 1, 9) dateis, count(*) newCom from newComLog group by substr(to_char(new), 1, 9)) nb join
		(select substr(to_char(del), 1, 9) dateis, count(*) delCom from delComLog group by substr(to_char(del), 1, 9)) db
		on nb.dateis = db.dateis(+)) ab) where rown between 1 and 5 order by 1
	</select>
</mapper>