<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CodeC">
	<select id="commentsList" resultType="kh.hello.dto.CodeCommentsDTO">
		select codeComments.*, profileImg from codeComments inner join member on codeComments.id = member.id where queSeq = #{value} order by 1 desc
	</select>
	<select id="commentsListTwo" resultType="kh.hello.dto.CodeCommentsDTO">	
		select * from codeComments where repSeq=#{value} order by seq
	</select>
	<insert id="insertComment" parameterType="kh.hello.dto.CodeCommentsDTO">
		insert into codeComments values(codeCommentsSeq.nextval,#{queSeq},#{repSeq},#{content},#{id},#{writer},sysdate)
	</insert>
	<update id="updateComment" parameterType="kh.hello.dto.CodeCommentsDTO">
		update codeComments set content=#{content} where seq=#{seq}
	</update>
	<delete id="deleteComment">
		delete from codeComments where seq=#{value}
	</delete>
	<delete id="deleteReplyAllCo">
		delete from codeComments where repSeq=#{value}
	</delete>
<!-- 	ajax 맨위? -->

<!-- 	<select id="getComment" resultType="kh.hello.dto.CodeCommentsDTO"> -->
<!-- 		SELECT * FROM (SELECT * FROM codeComments where repSeq=#{value} ORDER BY writeDate DESC) WHERE ROWNUM = 1 -->
<!-- 	</select> -->

	<select id="selectRepSeq" parameterType="java.util.Map" resultType="integer">
		select seq from codeReply where queSeq = #{queSeq} and id = #{id}
	</select>
	
	<update id="writeCoPoint" parameterType="String">
		update member set point=point+5 where id=#{value}
	</update>
	<update id="deleteCoPoint" parameterType="String">
		update member set point=point-5 where id=#{value}
	</update>
	
</mapper>