<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CodeR">
	<insert id="insert" parameterType="kh.hello.dto.CodeReplyDTO">
		insert into codeReply
		values(codeReplySeq.nextval,#{queSeq},#{title},#{content},#{writer},sysdate)
	</insert>
<!-- 	리스트에 답글 보이게? -->
	<select id="selectReplyAll" resultType="kh.hello.dto.CodeReplyDTO" parameterType="Integer">
		select * from codeReply
	</select>
	
	<select id="detailReply" resultType="kh.hello.dto.CodeReplyDTO" parameterType="Integer">
		select * from codeReply where queSeq = #{queSeq} order by 1 desc
	</select>
	
	<delete id="deleteR" parameterType="Integer">
		delete from codeReply where seq = #{seq}
	</delete>
	
<!-- 	답글 수정 -->
	<select id="selectOneDetail" resultType="kh.hello.dto.CodeReplyDTO" parameterType="Integer">
		select * from codeReply where seq = #{seq}
	</select>
	
<!-- 	답글 하나만 쓰게 -->
	<select id="replyOneCount" parameterType="java.util.Map" resultType="integer">
		select count(*) from codeReply where queSeq = #{queSeq} and writer = #{writer}
	</select>
	
	<update id="modifyR" parameterType="kh.hello.dto.CodeReplyDTO">
		update CodeReply set content=#{content} where seq=#{seq}
	</update>

<!-- 	<select id="selectParentSeq" resultType="Integer" parameterType="Integer"> -->
<!-- 		select seq from codeQuestion where seq = #{seq}  -->
<!-- 	</select> -->
</mapper>