<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Code">
	<insert id="insert" parameterType="kh.hello.dto.CodeQuestionDTO">
		insert into codeQuestion
		values(codeQuestionSeq.nextval,#{division},#{title},#{content},#{writer},#{point},0,sysdate)
	</insert>
	
	<select id="selectQuestionAll" resultType="kh.hello.dto.CodeQuestionDTO" parameterType="Integer">
		select * from codeQuestion order by seq desc
	</select>
	
	<select id="selectSeq" parameterType="String" resultType="Integer">
		select max(seq) from codeQuestion where writer = #{writer}
	</select>
	
	<select id="detailQuestion" resultType="kh.hello.dto.CodeQuestionDTO">
		select * from codeQuestion where seq = #{seq} order by 1 desc
	</select>
	
	<update id="incrementViewCount" parameterType="Integer">
		update codeQuestion set viewCount = viewCount+1 where seq = #{seq}
	</update>
	
	<delete id="delete" parameterType="Integer">
		delete from codeQuestion where seq=#{seq}
	</delete>
</mapper>