<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Count">
	<insert id="plusVisitCount">
		insert into visit values(sysdate)
	</insert>
	<select id="getVisitTotalCount" resultType="integer">
		select count(*) from visit
	</select>
	<select id="getVisitTodayCount" resultType="integer">
		select count(*) from visit where substr(to_char(visit), 1, 9) = to_date(sysdate, 'yy/MM/dd')
	</select>
	<insert id="newBoard">
		insert into newBoardLog values(sysdate)
	</insert>
	<insert id="delBoard">
		insert into delBoardLog values(sysdate)
	</insert>
	<insert id="newCo">
		insert into newComLog values(sysdate)
	</insert>
	<insert id="delCo">
		insert into delComLog values(sysdate)
	</insert>
</mapper>