<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GuestBook">
	<insert id="insert" parameterType="kh.hello.dto.GuestBookDTO">
		insert into GuestBook values(GuestBookSeq.nextval,#{ownerID},#{owner},#{writerID},#{writer},#{content},sysdate)
	</insert>
	
	<select id="selectAll" resultType="kh.hello.dto.GuestBookDTO">
		select * from GuestBook
	</select>

	<select id="guestBookTotalCount" resultType="integer">
		select count(seq) from GuestBook where owner=#{owner}
	</select>
	<select id="guestBookListByPage" parameterType="Object" resultType="kh.hello.dto.GuestBookDTO">
		select * from (select GuestBook.*, row_number() over (order by seq desc) as rown from GuestBook) where ownerid=#{ownerID} and rown between #{start} and #{end}
	</select>
	
	<delete id="delete" parameterType="integer">
		delete GuestBook where seq = #{seq}
	</delete>
	
	<update id="update" parameterType="kh.hello.dto.GuestBookDTO">
		update GuestBook set content=#{content} where seq=#{seq}
	</update>
	
	<select id="selectBySeq" resultType="String" parameterType="integer">
		select writer from GuestBook where seq= #{seq}
	</select>
</mapper>