<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GuestBook">
	<insert id="insert" parameterType="kh.hello.dto.GuestBookDTO">
		insert into board values(GuestBookSeq.nextval,#{owner},#{writer},#{content},#{writeDate})
	</insert>
	
	<select id="selectAll" resultType="kh.hello.dto.GuestBookDTO">
		select * from GuestBook
	</select>
	
</mapper>