<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="IndustryCo">
	<select id="getList" resultType="kh.hello.dto.IndustryStatusCoDTO">
		select * from industryComments where indSeq=#{value}
	</select>
	<insert id="insertIndustryStatusCo" parameterType="kh.hello.dto.IndustryStatusCoDTO">
		insert into IndustryComments values(IndustryStatusCommentsSeq.nextval,#{indSeq},#{writer},#{content},sysdate)
	</insert>
	<update id="updateIndustryStatusCo" parameterType="kh.hello.dto.IndustryStatusCoDTO">
		update industryComments set content=#{content} where seq=#{seq}
	</update>
	<delete id="deleteIndustryStatusCo">
		delete from industryComments where seq=#{value}
	</delete>
	<delete id="deleteIndustryStatusAllCo">
		delete from industryComments where indSeq=#{value}
	</delete>
</mapper>