<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="IndustryCo">
	<select id="getList" resultType="kh.hello.dto.IndustryStatusCoDTO">
		select industryComments.*, profileImg from industryComments inner join member on industryComments.id = member.id where indSeq=#{value} order by seq
	</select>
	<insert id="insertIndustryStatusCo" parameterType="kh.hello.dto.IndustryStatusCoDTO">
		insert into industryComments values(industryCommentsSeq.nextval,#{indSeq},#{writer},#{content},sysdate,#{id})
	</insert>
	<select id="getComment" resultType="kh.hello.dto.IndustryStatusCoDTO">
		SELECT * FROM (SELECT * FROM industryComments where indSeq=#{value} ORDER BY writedate DESC) WHERE ROWNUM = 1
	</select>
	<update id="updateIndustryStatusCo" parameterType="kh.hello.dto.IndustryStatusCoDTO">
		update industryComments set content=#{content} where seq=#{seq}
	</update>
	<delete id="deleteIndustryStatusCo">
		delete from industryComments where seq=#{seq}
	</delete>
	<delete id="deleteIndustryStatusAllCo">
		delete from industryComments where indSeq=#{value}
	</delete>
</mapper>