<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="Itnews"> 
  <select id="getList" resultType="kh.hello.dto.ItnewsDTO">
		select * from itnews order by seq desc
	</select>
	
	<select id="getDTO" resultType="kh.hello.dto.ItnewsDTO">
		select * from itnews where seq = ${seq}
	</select>
	
	<select id="selectByPage"  resultType="kh.hello.dto.ItnewsDTO">
		select * from (select itnews.*, row_number() over(order by seq desc) 
		rown from itnews) where rown between ${start} and ${end}
	</select>
	
	<select id="getTotal" resultType="integer">
		select count(*) from itnews 
	</select>
	
	<select id="getItnewsSeq" resultType="integer">
		select itnewsSeq.nextval from dual
	</select>
	
	<insert id="writeItnews" parameterType="kh.hello.dto.ItnewsDTO">
		insert into itnews values(#{seq}, #{writer}, #{title}, #{content},  sysdate, 0)
	</insert>
	
	<delete id="remove" parameterType="integer">
		delete from itnews where seq=#{seq}
	</delete>
	
	<insert id="insertComment" parameterType="kh.hello.dto.ItnewsCoDTO">
		insert into itnewscomments values(itnewsCommentsSeq.nextval, #{itSeq}, #{writer}, #{content},sysdate)
	</insert>
	
	<select id="coList" parameterType="integer" resultType="kh.hello.dto.ItnewsCoDTO">
		select * from itnewscomments where itSeq=#{seq} 
	</select>
	
</mapper> 