<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberInquiry">
	<select id="getMyInquiryByPage" resultType="kh.hello.dto.InquiryDTO">
		select * from (select inquiry.*, row_number() over(order by writeDate desc) rown from inquiry where writer = #{id}) where rown between #{start} and #{end}
	</select>
	<select id="getMyInquiryTotal" resultType="integer">
		select count(*) from inquiry where writer = #{id}
	</select>
	<select id="getInquirySeq" resultType="integer">
		select inquirySeq.nextval from dual
	</select>
	<insert id="insertImg" parameterType="java.util.Map">
		insert into inquiryImgs values(inquiryImgsSeq.nextVal, #{boardSeq}, #{sysName})
	</insert>
	<insert id="writeInquiry" parameterType="kh.hello.dto.InquiryDTO">
		insert into inquiry values(#{seq}, #{title}, #{content}, #{writer}, #{writerID}, sysdate, 0)
	</insert>
	<select id="getMyInquiryBySeq" resultType="kh.hello.dto.InquiryDTO">
		select * from inquiry where seq=#{seq}
	</select>
	<select id="getMyInquiryCo" resultType="kh.hello.dto.InquiryReplyDTO">
		select * from inquiryReply where boardSeq=#{boardSeq}
	</select>
	<update id="modifyInquiry" parameterType="kh.hello.dto.InquiryDTO">
		update inquiry set title=#{title}, content=#{content}, writer=#{writer}, writeDate=sysdate where seq=#{seq}
	</update>
	<select id="getImgsByBoardSeq" resultType="String">
		select sysName from inquiryImgs where boardSeq=#{boardSeq}
	</select>
	<delete id="delImgsByBoardSeq">
		delete from inquiryImgs where boardSeq=#{boardSeq}
	</delete>
		<delete id="deleteInquiry">
		delete from inquiry where seq=#{seq} and count=0
	</delete>
</mapper>