<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member">
	
<!-- 	로그인 -->
	<select id="login" resultType="integer" parameterType="java.util.Map">
		select count(*) from member where id = #{id} and pw = #{pw}
	</select>
	
	<select id="dupleCheck" resultType="integer" parameterType="string">
		select count(*) from member where id = #{id}
	</select>
	
	<select id="nickDupleCheck" resultType="integer" parameterType="string">
		select count(*) from member where nickName = #{nickName}
	</select>
	
	<select id="phoneDupleCheck" resultType="integer" parameterType="string">
		select count(*) from member where phone = #{phone}
	</select>
	
	<insert id="insertCode" parameterType="string">
		insert into signupcertification values (#{email} , #{certificationCode})
	</insert>
	
	<select id="selectCode" resultType="integer" parameterType="string">
		select count(*) from signupcertification where email = #{email} and certificationCode = #{certificationCode}
	</select>
	
	<insert id="insertMember" parameterType="kh.hello.dto.MemberDTO">
		insert into member values (#{id}, #{pw}, #{name}, #{nickName}, #{email}, #{phone}, #{postcode}
		, #{addr1}, #{addr2}, #{joinPath}, #{gender}, #{memLevel}, #{reportCount}, #{point}, #{ifmOpenCheck}, sysdate, sysdate, #{profileImg}, #{birth})
	</insert>
	
	<update id="updateLastLogin">
		update member set lastLogin = sysdate where id=#{id}
	</update>
	
	<select id="selectEmailnName" resultType="integer" parameterType="java.util.Map">
		select count(*) from member where name=#{name} and email =#{email}
	</select>
	
	<select id="selectEmail" resultType="integer" parameterType="string">
		select count(*) from member where email =#{email}	
	</select>
	
	<select id="selectIdByEmail" resultType="string" parameterType="string">
		select id from member where email =#{email}	
	</select>
	
	<update id="modifyPw" parameterType="java.util.Map">
		update member set pw=#{pw} where id=#{id}
	</update>
	
		<update id="getPoint" parameterType="java.util.Map">
		update member set point= point + #{point} where id = #{id}
	</update>
	
	<update id="minusPoint" parameterType="java.util.Map">
		update member set point= point - #{point} where id = #{id}
	</update>
	
	<select id="selectMember" parameterType="string" resultType="kh.hello.dto.MemberDTO">
		select * from member where id=#{id}
	</select>
	
	<select id="withdrawalCheck"  parameterType="java.util.Map" resultType="integer">
		select count(*) from member where id=#{id} and pw=#{pw}
	</select>
	
	<update id="withdrawal" parameterType="string">
		update member set pw=null, name=null,email=null,phone=null,postCode=null
		,addr1=null,addr2=null,joinPath=null,gender=null,reportCount=null,point=null
		,ifmOpenCheck=null,joinDate=null,lastLogin=null,birth=null where id=#{id} 
	</update>
	
	<update id="withdrawalMem1" parameterType="string">
		update member set pw=null, name=null,phone=null,postCode=null
		,addr1=null,addr2=null,joinPath=null,gender=null,reportCount=null,point=null
		,ifmOpenCheck=null,joinDate=null,lastLogin=null,birth=null where id=#{id} 
	</update>
	
	<update id="modify"  parameterType="kh.hello.dto.MemberDTO">
		update member set pw=#{pw}, name=#{name},nickName=#{nickName}, email=#{email}, phone=#{phone},postcode=#{postcode},addr1=#{addr1}
		,addr2=#{addr2},joinPath=#{joinPath}, gender=#{gender}, ifmOpenCheck=#{ifmOpenCheck}, birth=#{birth} where id=#{id}
	</update>
	
	<select id="selectMemLevelById" parameterType="string" resultType="integer">
		select memLevel from member where id = #{id}
	</select>
	
	<select id="selectCtfMail" parameterType="string" resultType="integer">
		select count(*) from signupcertification where email = #{email}
	</select>
	<update id="updateCtfCode" parameterType="java.util.Map">
		update signupcertification set certificationCode=#{ctfCode} where email=#{email}
	</update>
</mapper>
