<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member">
	
<!-- 	로그인 -->
	<select id="login" resultType="integer" parameterType="java.util.Map">
		select count(*) from member where id = #{id} and pw = #{pw}
	</select>
	
	<select id="dupleCheck" resultType="integer" parameterType="string">
		select count(*) from member where id = #{id}
	</select>
	
	<select id="nickDupleCheck" resultType="integer" parameterType="string">
		select count(*) from member where nickName = #{nickName}
	</select>
	
	<select id="phoneDupleCheck" resultType="integer" parameterType="string">
		select count(*) from member where phone = #{phone}
	</select>
	
	<insert id="insertCode" parameterType="string">
		insert into signupcertification values (#{email} , #{certificationCode})
	</insert>
	
	<select id="selectCode" resultType="integer" parameterType="string">
		select count(*) from signupcertification where email = #{email} and certificationCode = #{certificationCode}
	</select>
	
	<insert id="insertMember" parameterType="kh.hello.dto.MemberDTO">
		insert into member values (#{id}, #{pw}, #{name}, #{nickName}, #{email}, #{phone}, #{postcode}
		, #{addr1}, #{addr2}, #{joinPath}, #{gender}, #{memLevel}, #{reportCount}, #{point}, #{ifmOpenCheck}, sysdate, null, #{profileImg}, #{birth})
	</insert>
	
	<update id="updateLastLogin">
		update member set lastLogin = sysdate where id=#{id}
	</update>
	
	<select id="selectEmailnName" resultType="integer" parameterType="java.util.Map">
		select count(*) from member where name=#{name} and email =#{email}
	</select>
	
	<select id="selectEmail" resultType="integer" parameterType="string">
		select count(*) from member where email =#{email}	
	</select>
	
	<select id="selectIdByEmail" resultType="string" parameterType="string">
		select id from member where email =#{email}	
	</select>
	
	<update id="modifyPw" parameterType="java.util.Map">
		update member set pw=#{pw} where id=#{id}
	</update>
	
		<update id="getPoint" parameterType="java.util.Map">
		update member set point= point + #{point} where id = #{id}
	</update>
	
	<update id="minusPoint" parameterType="java.util.Map">
		update member set point= point - #{point} where id = #{id}
	</update>
	
</mapper>
