<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Portfolio">
	<insert id="insert" parameterType="kh.hello.dto.PortfolioDTO">
		insert into portfolio values(portfolioSeq.nextval,#{writer},#{portfolioTitle},#{startDate},#{endDate},#{purpose},#{environment},#{allFunction},#{dbUnitPlan},#{role},#{contribution},#{image1},#{function1},#{explanation1},#{image2},#{function2},#{explanation2},#{image3},#{function3},#{explanation3},#{git})
	</insert>
	
	<select id="selectAll"  parameterType="String" resultType="kh.hello.dto.PortfolioDTO">
		select * from portfolio where writer = #{writer}
	</select>
	
	<select id="selectBySeq"  parameterType="integer" resultType="kh.hello.dto.PortfolioDTO">
		select * from portfolio where seq = #{seq}
	</select>
	
	<update id="update" parameterType="kh.hello.dto.PortfolioDTO">
		update portfolio set portfolioTitle=#{portfolioTitle}, startDate=#{startDate}, endDate=#{endDate}, purpose=#{purpose}, environment=#{environment}, allFunction=#{allFunction}, dbUnitPlan=#{dbUnitPlan}, role=#{role}, contribution=#{contribution}, image1=#{image1}, function1=#{function1}, explanation1=#{explanation1}, image2=#{image2} , function2=#{function2} , explanation2=#{explanation2} , image3=#{image3} , function3=#{function3} , explanation3=#{explanation3}, git=#{git} where seq=#{seq}
	</update>
	
	<delete id="delete" parameterType="integer">
		delete portfolio where seq = #{seq}
	</delete>
</mapper>