<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProjectApply">
	<select id="getListByPage" resultType="kh.hello.dto.ProjectApplyDTO">
		select * from (select projectApply.*,(select ifmOpenCheck from member where id=projectApply.id) as portfolio, row_number() over (order by seq desc) as num from projectApply where projectSeq=#{projectSeq} order by seq desc) where num between #{start} and #{end}
	</select>
	<select id="getArticleCount" resultType="integer">
		select count(*) from projectApply where projectSeq=#{value}							
	</select>
	<select id="getProjectApplyDetailView" resultType="kh.hello.dto.ProjectApplyDTO">
<!-- 		select * from projectApply where seq=#{value}  -->
		select a.*, m.ifmOpenCheck as portfolio, p.title from projectApply a, member m, project p where a.projectSeq = p.seq and a.id = m.id and a.seq=#{value}
	</select>
	<select id="checkMyApply" resultType="kh.hello.dto.ProjectApplyDTO">
		select id, approve from projectApply where projectSeq=#{projectSeq} and id=#{id}
	</select>
	<select id="checkApplyCount" resultType="integer">
		select count(id) from projectApply where projectSeq=#{value} and approve not in('X')
	</select>
	<insert id="insertProjectApply" parameterType="kh.hello.dto.ProjectApplyDTO">
		insert into projectApply values(projectApplySeq.nextval,#{projectSeq},#{writer},#{id},#{languages},#{gender},#{age},#{workIn},#{email},#{etc},sysdate,'W',#{leaderId})
	</insert>
	<update id="updateProjectApply" parameterType="kh.hello.dto.ProjectApplyDTO">
		update projectApply set approve=#{approve} where seq=#{seq}
	</update>
	<delete id="deleteProjectApply">
		delete from projectApply where seq=#{value}
	</delete>
	<update id="closeProjectApply">
		update projectApply set approve='X' where projectSeq=#{value} and approve='W'
	</update>
	<select id="getCountInApprove" resultType="integer">
		select count(*) from projectApply where id=#{value} and approve='O'
	</select>
	<update id="approveApply" parameterType="integer">
		update projectApply set approve='O' where seq=#{value}
	</update>
	<update id="approveDeny" parameterType="integer">
		update projectApply set approve='X' where seq=#{value}
	</update>
	<update id="allApplyDeny">
		update projectApply set approve='X' where projectSeq=#{value}
	</update>
</mapper>