<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProjectPlogList">
<!-- 	<select id="getList" resultType="kh.hello.dto.ProjectPlogDTO"> -->
<!-- 		select * from projectMyList where id=#{value} -->
<!-- 	</select> -->
<!-- 	<insert id="insert" parameterType="kh.hello.dto.ProjectPlogDTO"> -->
<!-- 		insert into projectMyList values(projectMyListSeq.nextval,#{projectSeq},#{id}) -->
<!-- 	</insert> -->
<!-- 	<delete id="delete"> -->
<!-- 		delete from projectMyList where seq=#{value} -->
<!-- 	</delete> -->
</mapper>