<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProjectList">
	<select id="getList" resultType="kh.hello.dto.ProjectListDTO">
		select * from projectList where id=#{value}
	</select>
	<insert id="insertProjectList" parameterType="kh.hello.dto.ProjectListDTO">
		insert into projectList values(projectListSeq.nextval,#{projectSeq},#{id})
	</insert>
	<delete id="deleteProjectList">
		delete from projectList where seq=#{value}
	</delete>
</mapper>