<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProjectMyList">
	<select id="getList" resultType="kh.hello.dto.ProjectMyListDTO">
		select * from projectMyList where id=#{value}
	</select>
	<insert id="insertProjectList" parameterType="kh.hello.dto.ProjectMyListDTO">
		insert into projectMyList values(projectMyListSeq.nextval,#{projectSeq},#{id})
	</insert>
	<delete id="deleteProjectList">
		delete from projectMyList where seq=#{value}
	</delete>
</mapper>