<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Project">
	<select id="getList" resultType="kh.hello.dto.ProjectDTO">
<!-- 		select seq,title,location1,capacity,startDate,endDate,state,writer,writeDate,viewCount,(select count(*) from projectComment where projectSeq=project.seq) as commentCount from project order by seq desc -->
		select project.*,(select count(*) from projectComment where projectSeq=project.seq) as commentCount from project order by seq desc
	</select>
	
	<select id="getProjectDetailView" resultType="kh.hello.dto.ProjectDTO">
<!-- 		select * from project where seq=#{value} -->
		select project.*,(select count(*) from projectApply where projectSeq=project.seq) as applyCount from project where seq=#{value}
	</select>
	
	<select id="latestSeq" resultType="string">
		select max(seq) from project where writer=#{value}
	</select>
	
	<insert id="insertProject" parameterType="kh.hello.dto.ProjectDTO">
		insert into project values(projectSeq.nextval,#{title},#{contents},#{location1},#{location2},#{capacity},#{startDate},#{endDate},#{languages},#{phone},#{email},#{writer},sysdate,'N')
	</insert>
	
	<update id="updateProject" parameterType="kh.hello.dto.ProjectDTO">
		update project set title=#{title}, contents=#{contents}, location=#{location}, capacity=#{capacity}, startDate=#{startDate}, endDate=#{endDate}, languages=#{languages}, phone=#{phone}, email=#{email}, writer=#{writer}, writeDate=#{writeDate}, state=#{state} where seq=#{seq}
	</update>
	
	<update id="updateProjectViewCount">
		update project set viewCount=viewCount+1 where seq=#{value}
	</update>
	
	<delete id="deleteProject">
		delete from project where seq=#{value}
	</delete>
</mapper>