<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProjectApply">
	<select id="getList" resultType="kh.hello.dto.ProjectApplyDTO">
		select * from projectApply where projectSeq=#{value}
	</select>
	<select id="getProjectApplyDetailView" resultType="kh.hello.dto.ProjectApplyDTO">
		select * from projectApply where seq=#{value} 
	</select>
	<insert id="insertProjectApply" parameterType="kh.hello.dto.ProjectApplyDTO">
		insert into projectApply values(projectApplySeq.nextval,#{projectSeq},#{writer},#{languages},#{gender},#{age},#{workIn},#{proceeding},#{email},#{etc},sysdate,'W')
	</insert>
	<update id="updateProjectApply" parameterType="kh.hello.dto.ProjectApplyDTO">
		update projectApply set approve=#{approve} where seq=#{seq}
	</update>
	<delete id="deleteProjectApply">
		delete from projectApply where seq=#{value}
	</delete>
	<update id="closeProjectApply">
		update projectApply set approve='X' where projectSeq=#{value} and approve='W'
	</update>
</mapper>