<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Project">
	<select id="getList" resultType="kh.hello.dto.ProjectDTO">
<!-- 		select seq,title,location1,capacity,startDate,endDate,state,writer,writeDate,viewCount,(select count(*) from projectComment where projectSeq=project.seq) as commentCount from project order by seq desc -->
		select project.*,(select count(*) from projectComment where projectSeq=project.seq) as commentCount from project order by seq desc		
	</select>
	
	
	<select id="getArticleCount" resultType="integer">
		select count(*) from project
	</select>
	<select id="getListByPage" resultType="kh.hello.dto.ProjectDTO">
		select * from (select project.*,(select count(*) from projectComment where projectSeq=project.seq) as commentCount, row_number() over (order by seq desc) as num from project) where num between #{start} and #{end}
	</select>
	
	
	
	<select id="getProjectDetailView" resultType="kh.hello.dto.ProjectDTO">
		select project.*,(select count(*) from projectApply where projectSeq=project.seq and approve in('W')) as applyCount from project where seq=#{value}
	</select>
	
	<select id="latestSeq" resultType="integer">
		select max(seq) from project where id=#{value}
	</select>
	
	<insert id="insertProject" parameterType="kh.hello.dto.ProjectDTO">
		insert into project values(projectSeq.nextval,#{title},#{contents},#{location1},#{location2},#{capacity},#{startDate},#{endDate},#{languages},#{phone},#{email},#{writer},#{id},sysdate,'N',0)
	</insert>
	
	<update id="updateProject" parameterType="kh.hello.dto.ProjectDTO">
		update project set title=#{title}, contents=#{contents}, location=#{location}, capacity=#{capacity}, startDate=#{startDate}, endDate=#{endDate}, languages=#{languages}, phone=#{phone}, email=#{email}, writer=#{writer}, writeDate=#{writeDate}, state=#{state} where seq=#{seq}
	</update>
	
	<update id="updateProjectViewCount">
		update project set viewCount=viewCount+1 where seq=#{value}
	</update>
	
	<delete id="deleteProject">
		delete from project where seq=#{value}
	</delete>
	
	<update id="closeProject">
		update project set state='Y' where seq=#{value}
	</update>
	
	
	
	<update id="articleAddPoint" parameterType="java.util.Map">
		update member set point=point+#{point} where id=#{id}
	</update>
	
	<insert id="insertImage" parameterType="kh.hello.dto.ProjectImageDTO">
		insert into projectImage values(projectImageSeq.nextval,#{projectSeq},#{oriName},#{sysName})
	</insert>
	
	<select id="scrapCheck" parameterType="java.util.Map" resultType="integer">
		select count(*) from scrap where id=#{id} and category='project' and categorySeq=#{categorySeq} 
	</select>
	
	<insert id="scrap" parameterType="java.util.Map">
		insert into scrap values(scrapSeq.nextval,#{id},'project',#{categorySeq})
	</insert>
	
	<delete id="unScrap" parameterType="java.util.Map">
		delete from scrap where id=#{id} and category='project' and categorySeq=#{categorySeq}
	</delete>
</mapper>