@charset "UTF-8";
@font-face{
	font-family:'NanumGothic';
	src: url('/font/NanumGothic.ttf') format('truetype');	
}
@font-face{
	font-family:'NanumGothic';
	src: url('/font/NanumGothicBold.ttf') format('truetype');
	font-weight: bold;
}
*{
    box-sizing: border-box;    
}
.navbar-collapse{
    width : 100%;
}
.box{
    width:100%;
}
.box>a{
    width: 100%;
}
#logo{
    width: 100%;   
}
#baseBackgroundColor{
    position: relative;
    background-color: #e8e8e890;
    border-bottom: 2px solid gray;
}
#naviCon{
    width: 75%;
    margin: auto;
}
#naviCon a{
    font-size: 13px;
    text-align: center;
}
#logo{
    width:80%;
}
#aroundContent{
    height:80px;  
}
#realFooter {
   text-align: left;
   position: relative;
   left: 50%;
   transform:translateX(-50%);
   width: 30%;
}
#realFooter p,#realFooter a{
    color: darkgray;
    font-size: 11px;
/* 	line-height: 0.31em; */
}
#loginCon *{
    color: darkgray;
    font-size: 12px;
}
#logoCon{
	text-align: center;
}
#footerMsg{
    line-height: 1.9em;
}
button{
background-color: #cccccc;
border:none;
border-radius: 5%;
font-size: 12px;
}
.eleCon{
	background-color: white;
	border: 1px solid gray;
	border-radius: 1%;
}
#footerSpace{
	font-size: 11px;
}
#logo:hover{
	cursor:pointer;
}
#loginCon p {
	color: #787878;
}

.cursorPointer:hover {
	cursor: pointer;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active,
	.navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link
	{
	color: white;
	font-size: 17px !important;
	line-height: 28px;
	border-bottom: 4px solid white;
}

.navbar-dark .navbar-nav .nav-link {
	color: #c2c2c2;
	line-height: 29px;
}
#codeNavi:hover{
font-size:14px !important;
}
.navbar-dark .navbar-nav .nav-link:hover{
	color: white;
	font-size: 17px !important;
	line-height: 28px;
}
.navbar {
	padding: 0px;
}

@font-face {
   font-family: 'NanumGothicBold';
   src: url(/font/NanumGothicBold.ttf) format('truetype');
}
@font-face {
   font-family: 'NanumGothic';
   src: url(/font/NanumGothic.ttf) format('truetype');
}
.fontBold{
      font-family: "NanumgothicBold";
}
.fontThin{
   font-family: "Nanumgothic";
   font-size:13.7px;
}

/* autocomplete tagsinput*/
