@charset "UTF-8";
#pageTitle{margin-bottom:40px;}
#pageTitle h1{display:inline;margin-right:10px;font-weight:bold;}
#pageBody{background-color:#ffffff90;}	
#pBody,#pageFooter{padding-top:10px;}
#pBody{margin:20px;margin-top:30px;margin-bottom:30px;}
#pBody *{font-size:15px;font-weight:500;}
#pBody label{width:210px;color:darkgray;font-weight:bold;margin-bottom:15px;}
.checkBtn button:nth-child(2){margin-left:10px;}
#pPageContents{
	margin-left:20px;
	margin-right:20px;
	background-color:#ededed;
	border:1px solid darkgray;
	padding:20px;
	min-height:100px;
}
#openPortfolio{margin-left:5px;}
#pBody span{margin-left:2px;}
.fa-external-link{margin-left:5px;color:crimson;}