@charset "UTF-8";
#pageTitle{margin-bottom:40px;}
#pageTitle h2{display:inline;font-weight:bold;}
#pageBody{background-color:#ffffff90;}	
#pBody,#pageFooter{padding-top:10px;}
#pBody{margin:20px;margin-top:30px;margin-bottom:30px;}
#pBody *{font-size:15px;font-weight:500;}
.checkBtn button:nth-child(2){margin-left:10px;}
#openPortfolio{margin-left:5px;}
img{max-width:100%;}
body{background-color:#e9ecef;}
#openProject:hover{cursor:pointer;}
.fa-external-link{
	position:absolute;	
	top:5px;
	margin-left:5px;
	color:crimson;
}
#pBody .dLabel{color:darkgray;font-weight:bold;}
#pPageContents{
	background-color:#ededed;
	border:1px solid darkgray;
	padding:10px;
	min-height:50px;		
}