@charset "UTF-8";
body{background-color:#f2f2f2;}
#pageTitle{margin-bottom:20px;}
#pageTitle h4{font-weight:bold;}
.tableDiv{border-radius:5px;}
.tableHead{
    font-size: 1rem;
    font-weight: bold;
    border-top: 1px solid #dee2e6;
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
}
.tableHead,.tableBody,.tableBodyNull{text-align:center;height: 50px;line-height: 50px;}

.makeTableBody div:nth-child(1){font-weight:bold;}
.makeTableBody div:nth-child(6){text-align:left;cursor:pointer;}   

.applyTableBody div:nth-child(1){font-weight:bold;}
.applyTableBody div:nth-child(8){text-align:left;cursor:pointer;}

.tableBody .stateN{color:limegreen;}
.tableBody .stateY{color:red;}
.tableBody .approveO{color:#0058ff;}
.tableBody .approveX{color:red;}
.tableBody .approveW{color:#ffd800;}

.pComment{margin-left:3px;font-size:13px;color:orange;}    
.tableBody,.tableBodyNull div{
    font-size: 0.9rem;
    color: #212529;
    text-align: center;
    box-sizing: border-box;
    vertical-align: top;
    border-bottom: 1px solid #dee2e6;
    font-weight: normal;   
    background-color:#ffffff90;    
}    
.tableHead div,.tableBody div{padding: 0;margin: 0;}
.tableBody:hover{background-color: #bfac8e30}
.pageListFooter{margin-top:20px;}
.searchOption{margin-right:5px;}
#aPageNavi,#mPageNavi{margin-top:30px;}